<h3>Items in cart</h3>
<div class="cart-item" *ngFor="let item of items">
    <span>{{ item.name }}</span>
    <span>{{ item.price | currency }}</span>
  </div>
<h3>
  Shipping Charges
</h3>
<div class="shipping-item" *ngFor="let shipping of shippingCosts | async">
    <span>{{ shipping.type }}</span>
    <span>{{ shipping.price | currency }}</span>
    <span><input type="radio" name="shipping" value=""></span>
</div>


<h3>
    Personal details
  </h3>
<form [formGroup]="checkoutForm" (ngSubmit)="onSubmit(checkoutForm.value)">

  <div>
    <label for="name">Full Name</label>
    <input id="name" type="text" formControlName="name">
  </div>
  <div>
      <label for="email">Email address</label>
      <input id="email" type="text" formControlName="email">
  </div>
  <div>
        <label for="number">Phone Number</label>
        <input id="number" type="text" formControlName="number">
  </div>
  <div>
    <label for="address">Address</label>
    <input id="address" type="text" formControlName="address">
  </div>

  <button  class="button" type="submit">Place Order</button>
<br/><br/><br/><br/><br/><br/>
</form>