
<h3>Transactions</h3>
<div class="row">
  <div class="grid-container">
<div class="cart-transaction" *ngFor="let transaction of transactions">
  
        <div class = "column" >
          <div class = "card">
            
  <div>
      <label for="name">Previous Hash: {{ transaction.prevHash }} </label>
      <br/>
  </div>
  <br>
<div>
    <label for="number">Message: </label><br/>
    <input type="text" name = "formMessage" placeholder = '{{transaction.message}}'>
    
  </div>
    <div>
        <label for="name">Time: {{ transaction.time }} </label>

  </div>
  <br/><br>
  <div>
      <label for="name">Hash: {{ transaction.hash }} </label>

</div><br/><br/>
  <div>
    <br/>
    <button (click)="updateTransaction(transaction)">Update</button>
  </div>
</div></div> 
&nbsp; &nbsp;
</div>
</div>
</div>